{% extends 'webapp/base.html' %}
{% block content %}
<!-- Login -->
<div class="container" style="width: 100%; display: flex; align-items: center; justify-content: center;">
    <!-- The login application Logic -->
    <div class="login-form">
        <h2 style="text-align: center; width: 100%; font-style: normal; font-family: 'Courier New', Courier, monospace; font-weight: 400; font-size: 32px; color: blue;">Hakika Soko</h2>
        {% if form.errors %}
        <p>Your username or password didn't match please try again.</p>
        {% endif %}
        <form method="post" action="{% url 'auth:signup' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <span style="display: block; margin-top: 1em; margin-bottom: 1em; border-bottom: 0.1em black solid; color: green; font-size: 24px; font-weight: 400; font-family: 'Courier New', Courier, monospace; background-color: blue; border-bottom-right-radius: 0.5em; color: white; padding: 0.5em;">UserInfo</span>
            {{ form.as_div }}
            <span style="display: block; margin-top: 1em; margin-bottom: 1em; border-bottom: 0.1em black solid; color: green; font-size: 24px; font-weight: 400; font-family: 'Courier New', Courier, monospace; background-color: blue; border-bottom-right-radius: 0.5em; color: white; padding: 0.5em;">Profile Info</span>
            {{ profileForm.as_div }}
            <input id="submit" type="submit" value="signup" style="border: 0.1em green solid; background-color: green; padding: 0.5em; font-size: 20px; margin-top: 1em;">
        </form>
        <p>Already have an account<a style="margin-left: 1em; border: 0.1em green solid; background-color: green; padding: 0.5em; font-size: 20px;" href="{% url 'auth:login' %}">login</a></p>
    </div>
</div>
{% endblock %}